[package]
name = "fist"
version = "0.0.1"
edition = "2024"
description = "Fist: Interactive Search Tool"
repository = "https://github.com/Squirreljetpack/fist"
license-file = "LICENSE"

[dependencies]
cli_boilerplate_automation = { version = "0", features = ["text", "serde"]}
match-maker = { version = "0", features = ["bracketed-paste"]}

ratatui = { version = "0.30.0", features = ["serde"] }
crossterm = "0.29"

anyhow = "1.0.100"
atty = "0.2.14"
bitflags = "2.10.0"
clap = { version = "4.5", features = ["derive"] }
dirs = "6.0.0"
env_logger = "0.11.8"
indexmap = { version = "2.12.0", features = ["serde"] }
log = "0.4"
phf = { version = "0.13.1", features = ["macros", "phf_macros"] }
serde = "1.0"
thiserror = "2.0.17"
sqlx = { version = "0.7.4", features = ["sqlite", "runtime-tokio-rustls"] }
chrono = { version = "0.4.38", features = ["serde"] }
toml = "0.9.8"
paste = "1.0.15"
which = "8.0.0"
cfg-if = "1.0.4"
easy-ext = "1.0.2"
tokio = "1"
comfy-table = "7.2.1"
ignore = "0.4.25"
strum = { version = "0.27.2", features = ["strum_macros"] }
strum_macros = "0.27.2"
arboard = { version = "3.6.1", features = ["wayland-data-control"] }
unicode-width = "^0.2.0"
fs_extra = "1.3.0"
trash = "5.2.5"
notify = "8.2.0"
globset = "0.4.18"
infer = "0.19.0"
mime_guess = "2.0.5"
unicode-segmentation = "1.12.0"
image = { version = "0.25", default-features = false, features = [] }
arrayvec = { version = "0.7", features = ["serde"] }
shell-words = "1.1.1"
charset-normalizer-rs = "1.1.0"

[dev-dependencies]
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
tempfile = "3.23.0"


[[bin]]
name = "fs"
path = "src/main.rs"

[lints.clippy]
new_without_default = "allow"
collapsible_if = "allow"

[patch.crates-io]
match-maker = { path = "../matchmaker" }
cli_boilerplate_automation = { path = "../cli_boilerplate_automation" }

[features]
default = ["image-defaults"]
image-defaults = ["image/png", "image/jpeg"]
image-all = ["image/png", "image/jpeg", "image/gif", "image/bmp", "image/ico", "image/tiff", "image/webp"]
